$background-9: #121212;
$background-8: #272727;
$background-7: #3D3D3D;
$background-6: #525252;
$background-5: #686868;
$background-4: #7D7D7D;
$background-3: #939393;
$background-2: #A8A8A8;
$background-1: #BEBEBE;
$accent: #41da8f;